<h1>Dashboard</h1>
<h2>Weather</h2>
<h3>Today</h3>
<p>Now: <%= @view["weather"]["current_temp"] %>째C</p>
<p>Max: <%= @view["weather"]["highest_temp"] %>째C</p>
<% unless @view["weather"]["today_max"].empty? %>
<p>Forecast High: <%= @view["weather"]["today_max"] %>째C</p>
<% end %>
<p>Chance of rain: <%= @view["weather"]["today_chance_of_rain"] %></p>
<h3>Tomorrow</h3>
<p>Forecast High: <%= @view["weather"]["tomorrow_max"] %>째C</p>
<p>Chance of rain: <%= @view["weather"]["tomorrow_chance_of_rain"] %></p>
<h2>Trains</h2>
<h3>To City</h3>
<% @view["transport"]["city_trains"].each do | departure | %>
<li><%= departure["departure_time"]%> <%= departure["destination"]%> - <%= departure["departing_in"]%></li>
<% end%>
<h3>To the yeast</h3>
<% @view["transport"]["rest"].each do | departure | %>
<li><%= departure["departure_time"]%> <%= departure["destination"]%> - <%= departure["departing_in"]%></li>
<% end%>
</ol>
<h2>Gravy</h2>
<h3>GBP to AUD</h3>
<p><%= @view["currency"]["gbp_aud"] %></p>
<h3>AUD to GBP</h3>
<p><%= @view["currency"]["aud_gbp"] %></p>
<h2>Events</h2>
<% @view["events"].each do |event| %>
<%= event.to_s.html_safe %>
<% end %>