<div class="weather">
	<h3>Today</h3>

	<dl>
		<dt>Now</dt>
		<dd><a href="http://www.bom.gov.au/products/IDV60901/IDV60901.95936.shtml"><%= @view["weather"]["current_temp"] %><span>째C</span></a></dt>
	</dl>
	<dl>
		<dt>Recorded max.</dt>
		<dd><%= @view["weather"]["highest_temp"] %><span>째C</span></dd>
	</dl>
	<% unless @view["weather"]["today_max"].empty? %>
	<dl>
		<dt>Forecast high</dt> 
		<dd><a href="http://www.bom.gov.au/vic/forecasts/melbourne.shtml"><%= @view["weather"]["today_max"] %><span>째C</span></a></dd>
	</dl>
	<% end %>
	<dl class="clear">	
		<dt>Chance of rain</dt>
		<dd><%= @view["weather"]["today_chance_of_rain"] %></dd>
	</dl>
</div>
<div class="weather">
<h3>Tomorrow</h3>

	<dl>
		<dt>Forecast high</dt>
		<dd><a href="http://www.bom.gov.au/vic/forecasts/melbourne.shtml"><%= @view["weather"]["tomorrow_max"] %><span>째C</span></a></dd>
	</dl>
	<dl>
	<dt>Chance of rain</dt> 
	<dd><a href="http://www.bom.gov.au/vic/forecasts/melbourne.shtml"><%= @view["weather"]["tomorrow_chance_of_rain"] %></a></dd>
	</dl>
</div>
<h3>Trains to city</h3>
<ul>
	<% @view["transport"]["city_trains"].each do | departure | %>
	<li><%= departure["departure_time"]%> <%= departure["destination"]%> - <%= departure["departing_in"]%></li>
	<% end%>
</ul>
<!-- <h3>To the yeast</h3>
<ul>
<% @view["transport"]["rest"].each do | departure | %>
<li><%= departure["departure_time"]%> <%= departure["destination"]%> - <%= departure["departing_in"]%></li>
<% end%>
</ul> -->


<ul class="currency">
	<li><%= @view["currency"]["gbp_aud"] %></li>
	<li><%= @view["currency"]["aud_gbp"] %></li>
</ul>
<h3>Events</h3>
<% @view["events"].each do |event| %>
<%= event.to_s.html_safe %>
<% end %>