<h1>Dashboard</h1>
<p>Current temperature: <%= @view["weather"]["current_temp"] %>째C</p>
<p>Highest recorded temperature: <%= @view["weather"]["highest_temp"] %>째C</p>
<p>Forecast maximum: <%= @view["weather"]["today_max"] %>째C</p>
<p>Tomorrow's forecast maximum: <%= @view["weather"]["tomorrow_max"] %>째C</p>
<h2>Trains</h2>
<h3>To City</h3>
<% @view["transport"]["city_trains"].each do | departure | %>
<li><%= departure["departure_time"]%> <%= departure["destination"]%> - <%= departure["departing_in"]%></li>
<% end%>
<h3>To the yeast</h3>
<% @view["transport"]["rest"].each do | departure | %>
<li><%= departure["departure_time"]%> <%= departure["destination"]%> - <%= departure["departing_in"]%></li>
<% end%>
</ol>