<h1>Dashboard</h1>
<p>Current temperature: <%= @view["weather"]["current_temp"] %>째C</p>
<p>Highest recorded temperature: <%= @view["weather"]["highest_temp"] %>째C</p>
<p>Forecast maximum: <%= @view["weather"]["today_max"] %>째C</p>
<p>Tomorrow's forecast maximum: <%= @view["weather"]["tomorrow_max"] %>째C</p>
<h3>Trains</h3>
<ol>
<% @view["transport"].each do | departure | %>
<li>Towards: <%= departure["destination"]%> Departing in: <%= departure["departing_in"]%></li>
<% end%>
</ol>